BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
ObjCBlockIndentWidth: 4
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Never
